
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

 @font-face {
   font-family: Bebas;
   src: url('../fonts/BebasKai-Regular.otf');
 }
 
 * {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   scroll-behavior: smooth;
   font-family: Bebas, Montserrat, Arial, Helvetica, sans-serif;
   font-weight: 700;
   overflow-x: hidden;
   
 }

a {
  text-decoration: none;
  color: white;
}

 
 
 h1{
  font-size: 8rem;
  text-transform: uppercase;
  /* text-decoration: wavy; */
  
 }

 h2{
  font-size: 6rem;
 }

 h3{
  font-size: 4rem;
 }

 h4{
  font-size: 2rem;
 }


body {
  background: linear-gradient(
      rgba(222, 226, 228, 0.25) 0%,
      rgba(60, 58, 59, 0.25) 80%,
      rgba(1, 0, 0, 0.25) 100%);
      color: white;
      
}

body {
  background-color: black;
}
/* ........................Top Navagation Bar Large Screen............ */

@media (width >= 768px) {
  

    .navTop {
      /* border: 2px solid red; */
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
      position: relative;

    }
    ul {
      display: flex;
      display: flex;
      justify-content: space-around;
      justify-items: center;
      align-items: center;
      flex-flow: wrap;
      gap: 8rem;
    }
    ul:nth-child(1){
      margin-left: 8rem;
      color: red;
    }

    .navTop li {
      display: flex;
      color: orange;
    }

    /* .hamburger-menu {
      visibility: hidden;
      position: absolute;
      
    } */

}

/* ........................Top Navagation Bar Cell Phone Screen............ */


  

  /* #fullNav {
    visibility: hidden;
    position: absolute;

  } */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  color: white;
}

.logo {
  font-size: 1.5rem;
  margin: .5rem;
}

.navbar-links ul{
  margin: 0;
  padding: 0;
  display: flex;
  
}

.n-links {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display:block;
}

.navbar-links li:hover{
  background-color: gray;
}




  .hamburger-menu {
   position:absolute;
   top: .75rem;
   right: 1rem;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   width: 30px;
   height: 21px;
    
  }

  .hamburger-menu .hamlink {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }
  
  @media (width < 768px) {
    .hamburger-menu {
      display: flex;
    }

    .navbar-links {
      display: none;
      width: 100%;
    }

    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .navbar-links ul {
      flex-direction: column;
      width: 100%;
    }

    .navbar-links li {
      text-align: center;
    }

    .navbar-links li a {
      padding: .5rem 1rem;
    }

    .navbar-links.active {
      display: flex;
    }

    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 4rem;
    }

    h3 { 
      font-size: 2rem;
    }
} 

 


  





.youdiv {
  
    padding: 0;
    margin: 0;
    
  }
  
  .you {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    

  }
  /* ...................animated on scroll css actions....................... */
  .hidden {
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
    filter: blur(5px);
  }

  .hidden2 {
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(100%);
    filter: blur(5px);
  }
  
  .show2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

 
 
  .speed:nth-child(2) {
    transition-delay: 200ms;
  }
  .speed:nth-child(3) {
    transition-delay: 400ms;
    
  }
  .speed:nth-child(4) {
    transition-delay: 600ms;
  }
  .speed:nth-child(5) {
    transition-delay: 800ms;
  }

.speed2 {
  transition-delay: 200ms;
}

/*................Project Cards.............*/

.card-container {
  display: flex;
  flex-direction: column;
  
}

.card {
  margin: 4rem;
  width: 30vw;
  height: 40vh;
  background-color: red;
  position: relative;
    
}

.cardInfo {
  
display: flex;
justify-content: center;
align-items: center;
}

.cardTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .cardBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 38rem;
  left: 38rem;
  position: absolute;
} */

.visitBtn {
  border: 2px solid white;
  font-size: 1.1rem;
  background-color: transparent;
  border-radius: 5%;
  padding: .5rem;
  color: white;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}

.visitBtn:hover {
  box-shadow: inset 100px 0 0 0 white;
  color: black;
  
  
}
.visitBtn:nth-child(1) {
  margin-right: .5rem;
}







.blankText {
  color: transparent;
  font-size: 16rem;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: white;
  /* -webkit-text-fill-color: black; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.subTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8.2rem;
  width: 100vw;
  /* border: 2px solid red; */
  bottom: 10rem;
  position: relative;
}

video {
  position: absolute;
  /* border: 2px solid red; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bgLogo {
  width: 50%;
  object-fit: cover;
  
  
}

.boxLogo {
  width: 50%;
  top: 50%;
  left: 50%;
  
}

video {
  visibility: hidden;
}

/*............Footer Stylings.........*/

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  
}

.icons {
  left: 5%;
  position: relative;
  margin-left: 2rem;
}
.icons:hover {
  transform: translateX(2px) rotate(360deg);
}
/*...........Satchmo Picard Avatar..........*/

.wise {
  width: 5vw;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  position: sticky;
  left: 83%;  
  z-index: 3;
  
}

.avatar {
  object-fit: contain;
  width: 100%;
  height: auto;
}
/* .avatar:hover {
  transform: translateX(2px) rotate(360deg);
} */
.quoteBox{
  width: 30vw;
  height: 20vh;
  margin-right: 1rem;
  color: white;
  border: 2px solid white;
  z-index: 6;
}
#returnQuote {
  color: white;
  left: 10%;
  /* position: absolute; */
  font-size: 1.2rem;
}

#helloWorld {
  
  opacity: .01;
  bottom: 30%;
  position: absolute;
  z-index: 4;
  background-color: red;
  
}

.quotePlacement {
  color: white;
  position: absolute;
  left: 60%;
  bottom: -340%;
  font-size: 1.2rem;
}

.selfie {
  
  width: 100%;
    
  
}

.selfContained {
  
  width: 40vw;
  height: auto;
  
}

.resize {
  bottom: 50%;
  position: relative;
  
}

.outline {
  border: 2px solid white;
}